<h1>Hello from index bookings</h1>
<h3><%= link_to "Back to home page", root_path %></h3>

<% @bookings.each do |booking| %>
  <% if current_user.id == booking.user_id %>
  <ul>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <li><%= booking.start_date %></li>
          <li><%= booking.end_date %></li>
          <%=link_to 'Delete booking', bookings_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <%=link_to 'Edit booking', edit_booking_path(booking.id)%>
        </div>
    </div>
  </ul>
  <% end %>
<% end %>
