  <div class="booking-new">
<h1><%= @instrument.name %></h1>
<h3><%= "Rented out by #{@owner}" %></h3>
<%= simple_form_for [@instrument, @booking] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :start_date,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
