<h1>My Dashboard</h1>

<h2>My Bookings</h2>
<%# List all my bookings: essentially take the info from bookings index page %>
<% @bookings.each do |booking| %>
  <% if booking.user_id == current_user.id %>
    <ul>
    <div class="card-product">
      <div class="card-product-infos">
        <%= Instrument.find(booking.instrument_id).name %>
        <br><%= "Start date: #{booking.start_date}" %>
        <br><%= "End date: #{booking.end_date}" %>
        <br><%=link_to 'ðŸ–Šï¸ Edit booking', edit_booking_path(booking.id)%>
        <br><%=link_to 'ðŸ—‘ï¸ Delete booking', booking_path(booking.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?"} %>
      </div>
    </div>
    </ul>
  <% end %>
<% end %>
<br><h2>My Instruments</h2>
<%# each instrument should have a preview of status rented / available %>
<%# each instrument should have a toggle to display all the instrument's bookings %>
<% @instruments.each do |instrument| %>
  <% if instrument.user_id == current_user.id %>
    <ul>
    <div class="card-product">
      <div class="card-product-infos">
        <%= instrument.name %>
        <%# <%= "Status: #{}" %>
        <br><%=link_to 'ðŸ–Šï¸ Edit instrument offer', edit_instrument_path(instrument.id)%>
        <br><%=link_to 'ðŸ—‘ï¸ Delete instrument offer', instrument_path(instrument.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?"} %>
      </div>
    </div>
    </ul>
  <% end %>
<% end %>
