<h1>INSTRUMENTS FOR RENT</h1>
<%= @owner %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: instruments_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="i-cards d-flex flex-row flex-wrap">
    <% @instruments.each do |instrument| %>
      <%= link_to instrument_path(instrument.id), class: "t-none" do %>
        <div class="card-instrument">
          <%= cl_image_tag instrument.photo.key, height: 300, width: 400, crop: :fill if instrument.photo.attached? %>
          <h4><%= instrument.name.capitalize %></h4>
          <p>Offered by <%= User.find(instrument.user_id).username %>
          <br>Price: $<%= instrument.price %>
          <br>Details: <%= instrument.description %></p>
        </div>
    <% end %>
    <% end %>
  </div>
</div>
<br>
<% if user_signed_in? %>
  <%= link_to "Add new instrument >", new_instrument_path, class: "btn-main" %>
<% end %>

<%# style='width: 400px; height: 300px; %>

<%# <section id="content">
  <%= button_tag "Show Map", id: "showMapButton", class: "btn btn-primary" %>
<%# </section> %>
<script src="path-to-your-map-controller.js"></script>
<div class="drawer" id="drawer">
  <div class="drawer-content">
    <div style='width: 98%; height: 100vh'
        data-controller="map"
        id='map'
        class="full-screen-map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">
    </div>
  </div>
</div>

<button id="showMapButton">Show Map</button>
<button id="showListButton">Show List</button>
