<h1>INSTRUMENTS FOR RENT</h1>
<%= @owner %>
<div class="container">
  <div class="i-cards d-flex flex-row flex-wrap">
    <% @instruments.each do |instrument| %>
      <%= link_to instrument_path(instrument.id), class: "t-none" do %>
        <div class="card-instrument">
          <%= cl_image_tag instrument.photo.key, height: 300, width: 400, crop: :fill if instrument.photo.attached? %>
          <h4><%= instrument.name.capitalize %></h4>
          <p>Offered by <%= User.find(instrument.user_id).username %>
          <br>Price: $<%= instrument.price %>
          <br>Details: <%= instrument.description %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<br>
<% if user_signed_in? %>
  <%= link_to "Add new instrument >", new_instrument_path, class: "btn-main" %>
<% end %>
<br>
