<h1>INSTRUMENTS FOR RENT</h1>
<%= @owner %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: instruments_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="i-cards d-flex flex-row flex-wrap">
    <% @instruments.each do |instrument| %>

    <ul>
        <div class="card-product d-flex flex-column">
          <%= cl_image_tag instrument.photo.key, height: 300, width: 400, crop: :fill if instrument.photo.attached? %>
            <div class="card-product-infos">
              <li><%= link_to "#{instrument.name}", instrument_path(instrument.id) %>
              <%= "| Offered by #{User.find(instrument.user_id).username}" %></li>
            </div>
        </div>
    </ul>
    <% end %>
  </div>
</div>
<br>
<% if user_signed_in? %>
  <%= link_to "Add new instrument >", new_instrument_path %>
<% end %>

<div style='width: 400px; height: 300px;'
  data-controller="map"
  id='map'
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">
  </div>
