<%= @owner %>
<div class="container">
<h1>INSTRUMENTS FOR RENT</h1>
<div class="i-cards d-flex flex-row flex-wrap col mb-3 justify-content-between">
  <div class="row justify-content-between">
      <%= form_with url: instruments_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn-main" %>
      <% end %>

    </div>
      <% if user_signed_in? %>
  <%= link_to "Add new instrument >", new_instrument_path, class: "btn-main" %>
<% end %>

  </div>
  <div data-controller="toggle">
  <button id="showMapButton" data-action="click->toggle#fire">Show Map</button>
    <div style='width: 1000px; height: 100vh'
        data-controller="map"
        class="full-screen-map"
        data-toggle-target="mapButton"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">
    </div>
</div>
  <div class="i-cards d-flex flex-row flex-wrap">
    <% @instruments.each do |instrument| %>
      <%= link_to instrument_path(instrument.id), class: "t-none" do %>
        <div class="card-instrument">
          <%= cl_image_tag instrument.photo.key, height: 300, width: 400, crop: :fill if instrument.photo.attached? %>
          <h4><%= instrument.name.capitalize %></h4>
          <p>Offered by <%= User.find(instrument.user_id).username %>
          <br>Price: $<%= instrument.price %>
          <br>Details: <%= instrument.description %></p>
        </div>
    <% end %>
    <% end %>
  </div>
</div>
<br>

<%# style='width: 400px; height: 300px; %>

<%# <section id="content">
  <%= button_tag "Show Map", id: "showMapButton", class: "btn btn-primary" %>
<%# </section> %>
