<div  class="instrument-new">
<h1>ADD A NEW INSTRUMENT</h1>
  <%= simple_form_for(@instrument) do |f| %>
    <%= f.input :name %>
    <%= f.input :available_from,
                as: :string,
                input_html: { data: { controller: "datepicker" } }%>
    <%= f.input :description %>
    <%= f.input :brand %>
    <%= f.input :price %>
    <%= f.input :city %>
    <%= f.input :photo, as: :file %>
    <div  class=" d-flex flex-row flex-wrap col mb-3 justify-content-between", style="background-color: ">
      <%= link_to "< Back to all instruments ", instruments_path, id: "btn-main-back" %> <%= f.submit %>
    </div>
  <% end %>
<br><br>
</div>
