<h1><%= @instrument.name %></h1>

<div class="container">
  <div class="card-info-instrument d-flex">
    <div class="col-4 px-3">
      <%= cl_image_tag @instrument.photo.key, height: 300, width: 400, crop: :fill if @instrument.photo.attached?%>
    </div>
    <div class="col-4 px-3">
      <h3><%= "Offered by #{User.find(@instrument.user_id).username}" %></h3>
      <br><p><%= "Brand: #{@instrument.brand.capitalize}" %>
      <br><%= "Description: #{@instrument.description}" %>
      <br><%= "Price: $#{@instrument.price}" %>
      <br><%= "Available from: #{@instrument.available_from}" %></p>
    </div>
    <div class="col-4 px-3 d-flex flex-column">
      <div>
        <h3>Reviews</h3>
        <% @instrument.reviews.each do |review| %>
          <br><p><%= "#{review.user.username}: #{review.comment}" %>
          <br><%= review.created_at %></p>
        <% end %>
      </div>
      <div>
        <% if current_user == @instrument.user %>
          <%= link_to "Edit this instrument offer", edit_instrument_path %>
        <br><%= link_to "Delete this instrument offer", instrument_path(@instrument.id),

            data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this offer?"} %>
        <% else %>
          <%= link_to "Book this instrument!", new_instrument_booking_path(@instrument.id), class: "btn-instrument-book" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br><br><br><%= link_to "Back to all instruments on offer", instruments_path, class: "btn-main-back" %>
<br>
