<h1><%= @instrument.name %></h1>
<h3><%= "Offered by #{User.find(@instrument.user_id).username}" %></h3>
<%= "Description: #{@instrument.description}" %>
<br><%= "Brand: #{@instrument.brand}" %>
<br><%= "Price: #{@instrument.price}" %>
<br><%= "Available from: #{@instrument.available_from}" %>
<%= cl_image_tag @instrument.photo.key, height: 300, width: 400, crop: :fill if @instrument.photo.attached?%>
<br><br>


<% if current_user == @instrument.user_id %>
  <%= link_to "ðŸ–Šï¸ Edit this instrument offer", edit_instrument_path %>
<br><%= link_to "ðŸ—‘ï¸ Delete this instrument offer", instrument_path(@instrument.id),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this offer?"} %>
<% else %>
  <%= link_to "Book this instrument! >", new_instrument_booking_path(@instrument.id), class: "btn-main" %>
<% end %>
<br><br><br><%= link_to "Back to all instruments on offer >", instruments_path, class: "btn-main-back" %>
<br>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @instrument.reviews.each do |review| %>
    <li class="list-group-item"><%= review.comment %></li>
  <% end %>
</ul>
<br>
